doctype 5
html
    head
        title= title
        script(src='/browser/scripts/jquery-1.10.2.min.js')
        script(src='/browser/scripts/underscore.js')
    body
        block content

        script(src='/browser/scripts/testapi.js')



